<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs')%>
    <blockquote>
        <h2>Admin Page</h2>
        <p align="justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum laborum at vero placeat ullam blanditiis sequi perspiciatis tempora. Reiciendis fuga quibusdam ipsam sunt quod porro cumque nostrum quae vero pariatur explicabo corporis magnam, voluptate laborum illo, inventore similique nisi cum delectus dolor sed. Architecto eum, est numquam nostrum perspiciatis aliquam itaque nulla exercitationem minus officia velit, temporibus voluptates ea nesciunt, dolor adipisci? Non delectus, labore, quaerat repudiandae, obcaecati asperiores nobis dolorum explicabo perferendis aliquid ad.</p>
    </blockquote>
</body>
</html>