<center>
    <h2>JWT Example in Express</h2>
    <hr width="400">
    <a href="/">Home</a>    |
    <a href="/index/login">Login</a>  |
    <a href="/index/profile">Profile</a>
    <hr width="400">
</center>