 <h1>MySQL CRUD Operation | Admin Panel</h1>
    <hr>
        <a href="/">Home</a> &nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
        <a href="/admin/adminViewUsersList">View All Users</a> &nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
        <a href="/">View ToDo List</a>&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
        <a href="/">Logout</a>    
    <hr>