 <h1>MySQL CRUD Operation</h1>
    <hr>
        <a href="/">Home</a> &nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
        <a href="/login">Login</a> &nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
        <a href="/register">Register</a>    
    <hr>