<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <%- include('headerSection.ejs') %>
    <h1>Registration Form</h1>
    <blockquote>
        <form action="/user/addUser" method="post">
            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                id="username"
                required
            > <br>
            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                id="email"
                required
            > <br>
            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                id="password"
                required
            > <br>
            <input
                type="text"
                name="address"
                placeholder="Enter Address"
                id="address"
                required
            > <br>
            <input
                type="submit"
                value="Register"
            > <br>
            <input
                type="reset"
                value="Reset"
            > <br>
        </form>
    </blockquote>
</body>
</html>