 <h1>MySQL CRUD Operation | User Panel</h1>
    <hr>
        <a href="/">Home</a> &nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
        <a href="/user/addToDo">Add ToDo</a> &nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
        <a href="/">View ToDo List</a>&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;
        <a href="/user/userLogout">Logout</a>    
    <hr>