<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        (()=>{
            window.history.forward();
        })();
    </script>
    
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <%- include('userHeaderSection.ejs') %>
    <h2>Welcome <%= email %></h2>
    <blockquote>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, repudiandae deleniti facere assumenda culpa animi? Maxime quasi perferendis veritatis ratione temporibus, adipisci, eveniet error ea est placeat alias ducimus non modi illum molestiae! Porro eos iusto, corrupti pariatur perferendis odio voluptatibus accusantium fugit optio, quisquam mollitia, id repellat illo iure. Deleniti laborum aliquid tempora facilis quaerat minus iure aliquam expedita.</blockquote>
</body>
</html>