<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('./header.ejs')%>
    <blockquote>
        <h2>Home Page</h2>
        <p align="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facilis beatae repellendus laudantium consequatur reprehenderit ex totam eos veniam, dicta rem facere porro? Omnis libero earum minus impedit recusandae, aut maxime ipsum praesentium enim, modi repudiandae hic doloribus nihil eligendi ducimus accusantium consectetur quaerat minima labore molestiae fugiat ratione tempora asperiores quam. Aut consectetur expedita quam ex eius quis, cum esse ipsam incidunt doloremque fugit, dolorum consequatur exercitationem illum cumque, veritatis quisquam fuga placeat corrupti.</p>
    </blockquote>
</body>
</html>