    <center>
        <h2>Mail Sending Example</h2>
        <hr width="300">
        <a href="/user">Home</a>    |
        <a href="/user/login">Login</a>    |
        <a href="/user/register">Register</a>
        <hr width="300">
    </center>
