 <center>
        <h2>Mail Sending Example</h2>
        <hr width="300">
        <a href="/user/profileHome">Home</a>    |
        <a href="/user/addProduct">AddProduct</a>    |
        <a href="/user/viewProduct">ViewProduct</a> |
        <a href="/user/logout">Logout</a>
        <hr width="300">
    </center>