<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>MongoDB with NodeJS</h2>
    <!-- <form action="/viewInfo" method="get"> -->
    <form action="/viewInfoPost" method="post">

        <input
            type="text"
            placeholder="Enter Username"
            id="username"
            name="username"
        ><br>
        <input
            type="email"
            placeholder="Enter Email"
            id="email"
            name="email"
        ><br>
        <input
            type="password"
            placeholder="Enter Password"
            id="password"
            name="password"
        ><br>
        <input
            type="text"
            placeholder="Enter Address"
            id="address"
            name="address"
        ><br>
        <input
            type="submit"
            value="Submit"
        >
        <input
            type="reset"
            value="Reset"
        >
        <br>
    </form>
</body>
</html>