*{
    margin: 0px;
}
#leftSection{
    padding: 1%;
    width:22%;
    color:white;
    background-color: #234567;
    height: 590px;
    float: left;
}
#rightSection{
    padding: 1%;
    width: 74%;
    background-color: grey;
    height: 590px;
 float: left;
 color:white;
}
input[type="text"],input[type="email"],input[type="password"]{
    height: 30px;
    width: 230px;
    margin: 5px;
    font-size: 18px;
}
input[type="submit"],input[type="reset"]{
    height: 35px;
    width: 235px;
    border-width: 0px;
    background-color: black;
    color:white;
    margin: 5px;
        font-size: 16px;
}
#msg{
    font-size: 24px;
    color:white;
}