 <div id="about">
                <br>
                <div id="about1">
                    <img src="/images/banner1.jpg" id="aboutImg" alt="">
                </div>
                <div id="about2">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut corrupti voluptas consequatur? Numquam consequuntur natus fuga, similique cum facilis a, aliquid, voluptatem quis architecto neque minima sapiente nihil aut ipsa. Consectetur, deleniti sed. Delectus sunt neque voluptatibus amet? Saepe delectus corporis blanditiis et minima perferendis nam libero fugiat voluptas, praesentium architecto at aperiam illum odio dolor consequatur sapiente dolorum! Corrupti assumenda earum officiis exercitationem cumque possimus qui vel autem dolores maiores. <br><br> Eum tenetur quae voluptas neque aut, quo cum voluptates, nobis aspernatur quidem harum hic ea! Tempora, aut nostrum. Necessitatibus, doloremque. Atque magni dolore quis ducimus, adipisci molestias quo enim tenetur officia quidem, cupiditate eius labore ratione temporibus nam ipsa vitae. Hic aspernatur cumque sequi, dicta culpa nisi natus dolor.</p>
                </div>
             </div>