<div id="contact">
                <center>
                    <h1>Contact Us</h1>
                </center>
                <br><br>
                <div id="contact1">
                    <h2>QuickLinks</h2>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Collection</a></li>
                        <li><a href="">Gallery</a></li>
                        <li><a href="">Product</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Account</a></li>
                    </ul>
                </div>
                <div id="contact2">
                    <h2>Social Sites</h2>
                    <ul>
                        <li><a href="">Gmail</a></li>
                        <li><a href="">YouTube</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">LinkedIn</a></li>
                        <li><a href="">Telegram</a></li>
                        <li><a href="">Indeed</a></li>
                    </ul>
                </div>
                <div id="contact3">
                    <h2>Address</h2>
                    <p>
                        56A Vijaynagar Indore <br>
                        Opposite C21 Mall <br>
                        Madhya Pradesh <br>
                        452010
                    </p>
                    <br>
                    <h2>Mail</h2>
                    <p>
                        fashion@gmail.com <br>
                        fftcol@gmail.com
                    </p>
                    <br>
                    <h2>Contact</h2>
                    <p>
                        +0731-2222222 <br>
                        +91-9898989898
                    </p>
                </div>
                <div id="contact4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941932.7347434115!2d74.751074646875!3d22.749613300000025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962e33b760c656b%3A0xe7abbb7ab477c8bd!2sC21%20Business%20Park%20Indore!5e0!3m2!1sen!2sin!4v1736169929462!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>