<div id="content">
                <h1>Why <span style="color:orange">FashionFit</span> Collection ? </h1>
                <br>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga itaque veritatis, aperiam aut dolorem et voluptatem harum illum esse quasi sit minus explicabo beatae accusantium quis i. Atque voluptatum quod sint doloribus fuga ut magni quibusdam. Necessitatibus ipsam incidunt ipsa! Libero id deserunt inventore nam quo dignissimos harum quam doloribus sequi vero, accusamus ipsa porro expedita magni voluptates deleniti voluptatem maiores, delectus, in ipsum quod? Doloribus nobis minima ullam sequi inventore quas eos molestiae! Minus earum excepturi repellendus explicabo, tempore sequi quam. Illo error ipsa eos quis. Delectus omnis ut eius et!
                </p>
           </div>
