 <div id="box">
                <div id="innerbox">
                    <img src="/images/banner1.jpg" id="boximg" alt="">
                    <h2>OutFit 1</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id culpa corporis nostrum amet quidem, quibusdam deserunt repellendus perspiciatis velit laborum.
                    </p>
                    <form action="">
                        <button>Read More..</button>
                    </form>
                </div>
                <div id="innerbox">
                    <img src="/images/banner.jpg" id="boximg" alt="">
                    <h2>OutFit 2</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id culpa corporis nostrum amet quidem, quibusdam deserunt repellendus perspiciatis velit laborum.
                    </p>
                    <form action="">
                        <button>Read More..</button>
                    </form>
                </div>
                <div id="innerbox">
                    <img src="/images/banner1.jpg" id="boximg" alt="">
                    <h2>OutFit 3</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id culpa corporis nostrum amet quidem, quibusdam deserunt repellendus perspiciatis velit laborum.
                    </p>
                    <form action="">
                        <button>Read More..</button>
                    </form>
                </div>
                <div id="innerbox">
                    <img src="/images/banner.jpg" id="boximg" alt="">
                    <h2>OutFit 4</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id culpa corporis nostrum amet quidem, quibusdam deserunt repellendus perspiciatis velit laborum.
                    </p>
                    <form action="">
                        <button>Read More..</button>
                    </form>
                </div>
            </div>
