<div id="newsletter">
                <h1>Subscribe to Our NewsLetter</h1>
                <br><br>
                <form action="">
                    <input type="email" placeholder="Enter Email">
                    <input type="submit" value="Subscribe">    
                </form>
            </div>
