<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Session in Express</h2>
    </center>
    <hr width="300" color="black">
    <center>
        <%if(email==null){%>
        <h2>Login Form</h2>
        <span style="color:red"><%= message %></span>
        <form action="/checkCredential" method="post">
        <input 
            type="email"
            placeholder="Enter Email"
            id="email"
            name="email"
        > <br>
        <input 
            type="password"
            placeholder="Enter Password"
            id="password"
            name="password"
        > <br>
        <input 
            value="Login"
            type="Submit"
        ><input 
            value="Reset"
            type="Reset"
        > <br>
        </form>
        <%}else{%>
                <h2>Profile Page</h2>
        Welcome <span style="color:green"><%= email %></span>
        <br>
        <a href="/logout">Logout</a>

        <%}%>
    </center>
</body>
</html>