<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Example of Express Validator</h1>
        <hr>
            <a href="/">Home</a>    |   
            <a href="/register">Register</a>
        <hr>
    </center>
    <blockquote>
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aperiam praesentium ut eos minus. Expedita minus obcaecati accusamus commodi illo cumque provident iure pariatur voluptatibus? Amet delectus eveniet optio eum nemo excepturi sint tenetur asperiores voluptate possimus quam odit quas, error esse veniam quasi magnam iusto ex fuga sed ipsa doloremque! Nostrum perferendis dolorem nemo, exercitationem voluptatibus eaque et ab quas ex iure officiis similique error! Quod commodi qui quae.</p>
    </blockquote>
</body>
</html>