<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Example of Express Validator</h1>
        <hr>
            <a href="/">Home</a>    |   
            <a href="/register">Register</a>
        <hr>
    </center>
    <blockquote>
        <h1>Registration Page</h1>
        <form action="/viewCredentials" method="post">
            <input 
                type="text"
                placeholder="Enter Username"
                id="username"
                name="username"
            > <br>
            <input 
                type="email"
                placeholder="Enter Email"
                id="email"
                name="email"
            > <br>
            <input 
                type="password"
                placeholder="Enter Password"
                id="password"
                name="password"
            > <br>
            <input 
                type="text"
                placeholder="Enter 10 digit mobile no."
                id="contact"
                name="contact"
            > <br>
            <input 
                type="submit"
                value="Register"
            >
            <input 
                type="reset"
                value="Reset"
            >
        </form>
    </blockquote>
</body>
</html>